<%= paginate @beers %>
<table>
  <tr>
    <th>Beer Name</th>
  </tr>
  <tr>
   <% @beers.each do |beer| %> 
    <td><%= link_to beer.name_display, "/beers/#{beer.id}" %></td>
  </tr>
    <% end %>
</table>



