// Place all the styles related to the activities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#feed h3.feedtitle {
  font-size: 3em;
  font-weight: bold;
  color: #ee9e07;
  border-width: 100%;
  margin-top: 20px;
  text-align: center;
}

.clearfix:after{
content:"";
visibiity: hidden;
display: block;
clear:both;
height:0;
}

.activity {
  padding: 16px 0;
  em {
    color: #fcf8e3;
    font-size: 12px;
    padding-left: 5px;
    width: 80%;
  }
}

.news-avatar {
  width: 40px;
  height: 40px;
  overflow: hidden;
  position: relative;
  float:left;
  margin-right: 1em;
}

.news-avatar img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}