// Place all the styles related to the beers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Index
#search4{
  width: 100%;
  margin-top: 50px;
  background-image:
  linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ),
    url(/assets/beerfridge.png);
  background-size: 100% auto;
}

#beer99{
  color: white;
  font-size: 70px;
  font-weight: bold;
  text-shadow: 1px 0px 1px #ccc, 0px 2px 2px #000;
}

#collection{
  color: white;
  font-size: 30px;
  text-shadow: 1px 0px 1px #ccc, 0px 2px 2px #000;
}

#or {margin-top:1em;}

.medium-spacer{padding: 4em 0;}

.buttons {
  text-align: center;
  padding: 20px;
}

.last-div {
  text-align: center;
  width: 40%;
  margin: 0 auto;
  padding-bottom: 50px;
  padding-top: 30px;
}

.index-heading {
  color: #356823;
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
}

.index-text {
  font-size: 1em;
  color: #555;
}

// Search Result
#search-result .panel-body {
  color: #8a6d3b;
  font-size: 30px;
  font-weight: bold;
  background-color: #fdf5c9;
}
#search-result td {
  padding: 5px 10px;
}

.border-search-div {
  max-width: 370px;
  padding: 19px 29px 29px;
  margin: 50px auto 50px;
  background-color: #fcf8e3;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.beer-alert {
  margin-top: 80px;
  margin-bottom: -90px;
  z-index: 1001;
  position: relative;
}


.update-button {
  margin:  20px 0px;
}

.border-beer-div {
  max-width: 600px;
  padding: 19px 29px 29px;
  margin: 50px auto 50px;
  background-color: #fcf8e3;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.addbeer {
  height: 300px;
}
// Beer Info Table

#beershow table, th, td {
  border: 1px solid #e89f10;
}

#beershow .panel-body {
  color: #00000;
  font-size: 30px;
  font-weight: bold;
  border: 1px solid #e89f10;
  text-shadow: 1px 0px 1px #ccc, 0px 2px 2px #eee;
  background-color: #fdf5c9;
}

  .fa {
  padding: 0px 3px;
  word-wrap: normal;
  display: inline-block;
}

.stars_show {
  padding: 0px 0px;
}

#beeredit {
  margin: 0 auto;
  width: 230px;
  text-align: center;
}

#beeredit a {
  padding: 0px 0px;
  word-wrap: normal;
  display: inline-block;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    border-top: 1px solid #e89f10;
}

.drankit {
  font-size: 20px;
  color: #3a5795;
  text-align: center;
  font-weight: bold;
}

.btn-newbeer {
  background: #632b00;
  border: 1px solid #e89f10;
  border-radius: 5px;
  padding: 0.7em 2em;
  text-transform: uppercase;
  color: #e89f10;
  width: 200px;
  margin-top: 100px;
}
.btn-newbeer:hover {
  background: #fdc82e;
  border: 1px solid #e89f10;
  border-radius: 5px;
  padding: 0.7em 2em;
  text-transform: uppercase;
  color: #FFF;
}