// Place all the styles related to the beers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.beer-alert {
  margin-top: 80px;
  margin-bottom: -90px;
}

.update-button {
  margin:  20px 0px;
}

.border-beer-div {
  max-width: 600px;
  padding: 19px 29px 29px;
  margin: 50px auto 50px;
  background-color: #fcf8e3;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
// Beer Info Table
#beershow .panel-heading {
  border: 1px solid #e89f10;
}

#beershow table, th, td {
  border: 1px solid #e89f10;
}

#beershow .panel-body {
  color: #00000;
  font-size: 30px;
  font-weight: bold;
  border: 1px solid #e89f10;
  text-shadow: 1px 0px 1px #ccc, 0px 2px 2px #eee;
  background-color: #fdf5c9;
}

#beershow a {
  padding: 0px 5px;
  word-wrap: normal;
  display: inline-block;
}

#beeredit {
  margin: 0 auto;
  width: 35%;
  text-align: center;
}

#beeredit a {
  padding: 0px 0px;
  word-wrap: normal;
  display: inline-block;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    border-top: 1px solid #e89f10;
}

.drankit {
  font-size: 20px;
  color: #3a5795;
  text-align: center;
  font-weight: bold;
}

.btn-newbeer {
  background: transparent;
  border: 1px solid #e89f10;
  border-radius: 5px;
  padding: 0.7em 2em;
  text-transform: uppercase;
  color: #e89f10;
}