// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
img.raty-cancel {
  display: none;
}

.border-user-div {
  max-width: 800px;
  padding: 19px 29px 29px;
  margin: 50px auto 50px;
  background-color: #fcf8e3;;
  border: 1px solid #e89f10;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.box {
  margin: 10px;
  width: 200px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
  border-radius: 7px;
  text-align: center;
  img {
      max-width: 100%;
      height: auto;
    }
    h2 {
      font-size: 22px;
      margin: 0;
      padding: 25px 10px;
      a {
        color: #474747;
      }
    }
  }

.box img {
  width: 100%;
}